@use "/src/scss/utils/" as *;

@mixin section {
  width: 100%;
  position: relative;
}

@mixin container {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

@mixin wrapper {
  width: 100%;
  max-width: 1700px;
  padding: 8rem;
  @include mobile {
    padding: 2.8rem 0 6rem;
  }
  @include tablet {
    padding: 2.8rem 1rem 6rem;
  }
  @include ipad-pro-13 {
    padding: 8.8rem 1rem 6rem;
  }
}

@mixin property-detail-wrapper {
  width: 100%;
  max-width: 1300px;
  padding: 2ex;
}

@mixin background-section-style {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  @include mobile {
    background-attachment: scroll;
  }
}

@mixin overlay-style {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(24, 24, 24, 0.644) 0%,
    rgba(46, 46, 46, 0.651) 100%
  );
}
