@mixin background-section-style {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

@mixin overlay-style {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(24, 24, 24, 0.644) 0%,
    rgba(46, 46, 46, 0.651) 100%
  );
}
