@use "/src/scss/common" as *;
@forward "/src/scss/base/";

.catalog_section {
  @include section;
  background-color: var(--color-gray-dark);
}
.catalog_container {
  @include container;
}
.catalog_wrapper {
  @include wrapper;
}
.catalog_content {
  border-radius: 12px;
  background-color: var(--color-gray-light);
  margin-top: 25ex;
  padding: 3ex;
  .catalog_header {
    margin: 6ex 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2ex;
    h2 {
      font-size: 2.3rem;
      font-weight: var(--fw-bold);
    }
    p {
      color: var(--color-navy);
      opacity: 0.6;
    }
  }  
}
